.form {
  width: 100%;
  padding: 85px 0 10px 0;
  background-color: #161616;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.form_frame {
  position: relative;
  width: clamp(300px, 60vw, 750px);
  background-color: #323232;
  margin: 0 10px;
  border-radius: 30px;
}

.form_frame::before {
  content: '';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background-image: linear-gradient(#3bc5e7, #398dd1);
  border-radius: 30px;
  z-index: -1;
}

.form_title {
  color: #3bc5e7;
  margin-top: 20px;
  text-align: center;
  text-shadow: 0 0 3px #398dd1;
}

.form_description {
  text-align: center;
  color: white;
  margin: 20px 10px;
}

#form_box {
  width: calc(100% - 20px);
  margin: 0 10px 20px 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
}

.form_input_box {
  width: calc(100% - 20px);
  margin: 10px 0;
}

.form_input_text {
  margin-bottom: 5px;
}

.form_input {
  height: 30px;
  margin-left: 10%;
  width: 80%;
  border-style: solid;
  border: 3px solid #aaa;
  border-radius: 10px;
  outline: none;
  padding: 0 5px;
}

.form_input:focus {
  border: 3px solid #3bc5e7;
}

#form_error {
  margin-top: 10px;
  height: 25px;
  text-align: center;
  color: #cd3232;
}

#form_submit {
  width: clamp(125px, 60%, 300px);
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 1.02rem;
  color: #161616;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#form_submit:hover {
  background-color: #3bc5e7;
  color: white;
}
